[Unit]
Description=PC2 service
After=syslog.target network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/pc2d
Restart=on-abort

[Install]
WantedBy=multi-user.target
