[Unit]
Description=PC2 projector
After=syslog.target network.target pc2.service

[Service]
Type=simple
User=toresbe
WorkingDirectory=/home/toresbe
ExecStart=/usr/local/bin/pc2_projector
Restart=on-abort

[Install]
WantedBy=multi-user.target
