[Unit]
Description=PC2 Hue
After=syslog.target network.target pc2.service

[Service]
Type=simple
User=toresbe
WorkingDirectory=/home/toresbe/
ExecStart=/usr/local/bin/pc2_hue
Restart=on-abort

[Install]
WantedBy=multi-user.target
