[Unit]
Description=PC2 projector
After=syslog.target network.target pc2.service

[Service]
Type=simple
User=toresbe
WorkingDirectory=/home/toresbe/pc2_local/services/env/
ExecStart=/home/toresbe/pc2_local/services/env/bin/python /home/toresbe/pc2_local/services/pc2_projector.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
